<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.avengergear.iots.IOTSBusGoogleMapServer"
          android:versionCode="1"
          android:versionName="1.0">
    <!-- Copied from Google Maps Library/AndroidManifest.xml. -->
    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- End of copy. -->
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">

        <activity android:name=".IOTSBusGoogleMapServerMainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver android:name=".NotificationDismissedReceiver" >
            <intent-filter>
                <action android:name="com.avengergear.iots.IOTSBusGoogleMapServer.startService" >
                </action>
                <action android:name="com.avengergear.iots.IOTSBusGoogleMapServer.dismissService" >
                </action>
            </intent-filter>
        </receiver>
        <service android:name=".IOTSBusGoogleMapServerService" android:exported="true" android:process=":remote"/>
    </application>
</manifest>
